#codeDiv{
  margin:5px 5px 5px 5px;
  width:99%;
  height:300px;
  float:left;
}
#codeExec{
  width:40%;
  height:300px;
  float:right;
  font-family:Courier;
  color: #CCCCCC;
  background: #000000;
  border: 3px double #CCCCCC;
}
#containerCode{
  width:100%;
  height:400px;
  background-color:#E4E4E4;
}
#container{
  margin-left:10px;
  margin-right:10px;
}
#compilar{
  margin:10px;
  float:right;
}

#output{
  height: 310px;
  width: 100%;
  font-family:Courier;
  color: #CCCCCC;
  background: #000000;
  white-space: nowrap;
}

#scriptBox{
  width: 100%;
}

/* css para modal da saida */
#modalBody{
  padding:0px !important; /*retirando css do boostrap */
}

#modalFooter{
  margin-top: 0px !important; /*retirando css do boostrap */
}
